/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.min.css"; */
/* @import "~/node_modules/@fortawesome/fontawesome-free/css/brands.min.css";
@import "~/node_modules/@fortawesome/fontawesome-free/css/solid.min.css";
@import "~/node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css"; */

body{
    position: relative;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f8f9fa;
    padding: 5px 0;
    text-align: center;
}
footer p{
    margin: 0;
}
.list-action{
    float: right;
}

.list-action ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.list-action ul li{
    padding: 0;
    display: inline-block;
    margin: 0 10px;
}
.list-action ul li i{
    cursor: pointer;
}